{% spaceless   %}
                        <div class="col-md-6">  
                          {{ form_row(edit_form.nombreManager) }}
                        </div> 
                        <div class="col-md-6">  
                          {{ form_row(edit_form.email) }}
                        </div>
                        <div class="col-md-6">  
                          {{ form_row(edit_form.telefono) }}
                        </div>
                        <div class="col-md-6">  
                          {{ form_row(edit_form.fax) }}
                        </div> 
                     
{% endspaceless   %}
