/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-05-2016, 09:01:49 AM
    Author     : Digitality 5
*/

.listados > thead > tr > th{
    font-weight: bold;
    text-align: center;
}

.modal-center{
    background: transparent; 
    /*z-index: 8;*/ 
    position: fixed; 
    height: 100px; 
    width: 100px;
    top:calc((100% - 100px)/2);
    top:-moz-calc((100% - 100px)/2);
    bottom:calc((100% - 100px)/2);
    bottom:-moz-calc((100% - 100px)/2);
    left:calc((100% - 100px)/2);
    left:-moz-calc((100% - 100px)/2);
    right:calc((100% - 100px)/2);
    right:-moz-calc((100% - 100px)/2);
}


.ui-dialog-titlebar {
    border:0px solid;
    border-radius: 0px;
}

.ui-dialog{
    border:0px solid;
    border-radius: 0px;
}